@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*{
	margin:0;
	padding:0;
}
body{
	background-color: #fffcdd;
	background-image: url(images/backk.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-position: 50% 250px;
	font-family: Roboto, sans-serif;
	font-size: 18px;
	line-height: 22px;

}
.headerr{
	height: 240px;
	background: url(images/logo.jpg) center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;	
	padding: 20px 0;
}

.footer{
	margin: 0 auto;	
	text-align: center;
	line-height: 40px;
	width: 935px;
	height:40px;
	text-align: center;
	background-color: #014941;
	color: white;
	font-size: 17px;
}


.content__imgs img{
	width: 47%;
}
.content__imgs{
	
	display: flex;
}
.content-container{
	min-width: 900px;
}

nav:not(.mm-menu)
{
	display: none;
}

.header,
.footer
{
	text-align: center;
}



.content{
	background-color: #ffffff;
	width: 1200px;
	height: auto;
	min-height: 600px;
	margin: 30px auto 0;	
	border-left: 3px solid #014941;
	border-right: 3px solid #014941;
	border-bottom: 3px solid #014941;
	padding-bottom: 30px;
}
.content p, a{
	padding: 15px 15px 0;
	text-align: juimage.pngstify;
	font-size: 17px;
	max-width: 1200px;
}
.content  .imgp{
	padding: 10px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
.content p:first-letter{
margin-left:25px;
}
#ululu{
	padding: 0px 15px 0px 32px;
	text-align: justify;
	font-size: 17px;
}
.content h2, h1, h3, h4, h5, h6{
	padding: 15px 15px 0 15px;
	text-align: center;
	font-size: 20px;
}
.content  h3{
	padding: 15px 15px 0;
	text-align: center;
	font-style: italic;
	font-size: 18px;
}
.content img{
	display: block;
	padding: 15px;
	margin: 0 auto;

	max-width: 880px;
}
.content ul img, .content ol img{
	display: block;
	padding: 15px;
	margin: 0 auto;
	max-width: 850px;
}
.content ul, .content ol, .content li, .content li ul, .content li ol, .content ul li ul, .content ul li ol, .content ol li ul{
	max-width: 900px;
	padding: 15px 15px 0 38px;
	text-align: justify;
	font-size: 17px;
}
.content ul li, .content ol li, .content li p{
	max-width: 900px;
	padding: 0 15px 0 0;
	text-align: justify;
	font-size: 17px;
}
.content table{
	max-width: 900px;
	padding: 15px 15px;	
	font-size: 17px;
}
.content table td{
	padding: 0 5px;	
}


.menur{
	height: 40px;
	margin: 20px auto -30px;
	width:1200px;
}
.pager{
	margin:0 auto; 
	width:1200px;
	background-color: #01497A;
	height: 40px;
	border-bottom: 3px solid #014941;
}
.pager ul{
	padding: 3px 0 0 3px;
	list-style:none;
	width:100%;
	height: 34px;
}
.pager ul li{
	float:left;
	border-right:20px solid #01497A;
	height: 34px;
}
.pager ul li a{
	display:block;
	height:34px;
	padding:0 26.2px;
	float:left;
	line-height: 34px;
	text-transform: uppercase;
	font: calibri,sans-serif;
	color: #ffffff;

	text-decoration:none;
	text-align:center;
}
.pager ul li a:hover,
.pager ul li.active a{	
	/**background-image: url(img/menu-h.jpg);
	background-repeat: repeat-x;**/	
background-color: #ffffff;	
	color: #014941;
}
#glosmen{
	margin: 0 auto; 
	width: 435px;	
}
#glosmen a{
	padding: 5px;	
}
#imgc{
	margin: 0 auto;
	max-width: 70%;
}
#toTop-w {
width:100px;
height: 100%;
background:#f7f7f7;
text-align:center;
padding:5px;
position:fixed;
bottom:0px; /* отступ кнопки от нижнего края страницы*/
left:0px;
cursor:pointer;
display:none;
background: rgba(255, 255, 255, 0.8);
font-family:verdana;
font-size:11px;
}
#toTop-w  p{
	line-height: 100px;
}
#toTop {
width:17.5%;
height: 30px;
background:#f7f7f7;
text-align:center;
padding:5px;
position:fixed;
bottom:0px; /* отступ кнопки от нижнего края страницы*/
left:0px;
cursor:pointer;
display:none;
background: rgba(255, 255, 255, 0.8);
font-family:verdana;
font-size:13px;
}
#toTop  p{
	line-height: 30px;
}

@media screen and (max-width: 1024px) {
	.content{width: 694px;}
	.pager{width:700px}
	.menur{width:700px; margin: -90px auto -30px;}
	.pager ul li a{	padding:0 9.3px;}
	.headerr{	width: 700px; 	background-size: contain; }
	.footer{width:700px;}
	.footer p{margin: 0 auto;}
	.content ol{	width: 660px; 	padding-left: 15px;}
	.content ul{	width: 100%; max-width: 660px;	padding-left: 15px;}
	.content img{	width: auto;	max-width: 90%;}
	#toTop {
width:24%;
height: 30px;
background:#f7f7f7;
text-align:center;
padding:5px;
position:fixed;
bottom:0px; /* отступ кнопки от нижнего края страницы*/
left:0px;
cursor:pointer;
display:none;
background: rgba(255, 255, 255, 0.8);
font-family:verdana;
font-size:13px;
}
#toTop  p{
	line-height: 30px;
}
.content ul, .content ol, .content li, .content li ul, .content li ol, .content ul li ul, .content ul li ol, .content ol li ul{
max-width: 650px; 	padding: 15px 15px 0 40px;}
}